.card {
    width: 40%;
    height: 400px;
    border: 2px solid #705795;
    border-radius: 15px;
    padding: 20px;
    margin: 30px auto;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
}

.card img {
    max-width: 100%;
    min-width: 200px;
    height: 180px;
    border-radius: 10px;
}

.card h2 {
    margin: 15px 0 10px 0;
    color: rgba(0, 0, 128, 0.555);
}

.card p {
    padding: 5px;
    line-height: 1.5;
    color: #555;
}